{%extends 'index.html'%}

{%block title%}
    Tracks
{%endblock%}

{%block home%}
     class="nav-item"
{%endblock%}

{%block track%}
     class="nav-item active"
{%endblock%}

{%block search%}
<form class="navbar-left navbar-form nav-search my-2" method="post">
    {%csrf_token%}
    <div class="input-group">
        <input type="text" name="search" value="{{value}}" placeholder="Search ..." class="form-control">
        <div class="input-group-append">
            <button type="submit" class="input-group-text">
                <i class="la la-search search-icon"></i>
            </button>
        </div>
    </div>
</form>
{%endblock%}

{%block content%}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Tracks Table</div>
        </div>
        <div class="card-body">
            <table class="table table-hover table-head-bg-primary">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Track Name</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {%for track in object_list%}
                <tr>
                    <td>{{track.id}}</td>
                    <td>{{track.name}}</td>
                    <td>
                        <a href="{%url 'update_track' track.id %}">
                            <i class="las la-lg la-pen mr-3"></i>
                        </a>
                        <a href="{%url 'delete.track' track.id %}">
                            <i class="la la-lg la-minus-circle"></i>
                        </a>
                    </td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
            <a href="{%url 'add.track'%}" class="btn btn-primary">
                <i class="la la-lg la-plus-circle"></i>
            </a>
        </div>
    </div>
</div>
{%endblock%}